html,
body {
    margin: 0px;
    height: 100%;
}

.color {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.paint {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colorText {
    height: 50%;
    width: 50%;
    background-color: rgba(240, 248, 255, 0.548);
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.colorText a {
    text-decoration: none;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    color:black;

}
.colorText a:hover {
    text-decoration: none;
    padding: 15px;
    border: 2px solid black;
    background: black;
    color: white

}

